.proj.vim
www/js/*
www/.tscache
www/node_modules

www/package-lock.json
www/package.json

[Pp]ayment[Ss]erver/.vs
[Pp]ayment[Ss]erver/bin
[Pp]ayment[Ss]erver/obj
[Pp]ayment[Ss]erver/[Uu]pgrade[Ll]og.htm

[Pp]ayment[Ss]erverJava/out
[Pp]ayment[Ss]erverJava/email_credentials.txt


dummy_server/bin
dummy_server/out
dummy_server/build
dummy_server/linux_build
dummy_server/.vs
dummy_server/.clangd
dummy_server/.proj.vim
dummy_server/compile_commands.json
