.button
{
    width: 400px;
    background-color: #e4e8bd;
    color: WHITE;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    padding: 3.5%;
    margin: auto;
    margin-top: 5px;
    font-size: 40px;
}
