.dishButtonContainer
{
    position: relative;
    overflow: auto;
    width: 65%;
    margin: auto;
}

.button
{
    width: 400px;
    background-color: #e4e8bd;
    color: white;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    padding: 3.5%;
    margin: auto;
    margin-top: 5px;
    font-size: 40px;
}
.button:active
{
    background-color: #b6b997;
}

.dishButton
{
    margin: 0;
    float: left;
}

.expandButton
{
    padding: 3.3%;
    margin-top: 0;
    width: 80px;
    float: right;
}

.nonDishButton
{
    width: 20%;
    margin: 0;
    margin-top: 15px;
    float: right;
    position: relative;
    top: 0px;
    right: 5%;
}
#orderButton
{
    font-size: 5em;
    margin-top: 1em;
    margin-bottom: 40px;
}

.removeItemButton
{
    font-size: 1em;
    width: 8%;
    padding: 1%;
    background-color: #eab2b2;
    float: right;
}

.arrow
{
    border: solid white;
    border-width: 0 0.4em 0.4em 0;
    padding: 0.3em;
    margin-top: -0.1em;
    margin-bottom: 0.3em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
}

.arrow_up
{
    border-width: 0.4em 0 0 0.4em;
    margin-top: 0.3em;
    margin-bottom: -0.1em;
}

