.button
{
    width: 400px;
    background-color: #e4e8bd;
    color: white;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    padding: 3.5%;
    margin: auto;
    margin-top: 5px;
    font-size: 40px;
}

.nonDishButton
{
    width: 170px;
    margin: 0;
    margin-top: 15px;
    float: right;
    position: relative;
    top: 0px;
    right: -40px;
}
#orderButton
{
    font-size: 5em;
    margin-top: 1em;
    margin-bottom: 40px;
}
