@font-face
{
    font-family: DIN;
    src: url(../Fonts/d-din/D-DIN.ttf);
}
@font-face
{
    font-family: DIN;
    src: url(../Fonts/d-din/D-DIN-Bold.ttf);
    font-weight: bold;
}


@font-face
{
    font-family: AmaticSC;
    src: url(../Fonts/amatic-sc/AmaticSC-Regular.ttf)
}
@font-face
{
    font-family: AmaticSC;
    src: url(../Fonts/amatic-sc/AmaticSC-Bold.ttf);
    font-weight: bold;
}


@font-face
{
    font-family: HomemadeApple;
    src: url(../Fonts/homemade_apple/HomemadeApple.ttf);
}
