body
{
    background-color: ghostwhite;
}

.menuItem
{
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    max-width: 35%;
    font-family: cursive;
}

 .dish
{
    color: black;
}

#FO
{
    color: olive;
    margin: 0px;
}