body
{
    background-color: ghostwhite;
    margin: 0 !important;
    padding: 0;
    font-family: DIN;
}

/*LUNCHMENY header which consists of 3 paragraphs*/
/*This is the div id*/
#menuHead
{
    margin: auto;
    max-width: 95%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    border-bottom: 2px solid black;
    font-size: 600%;
    font-family: AmaticSC;
}
/*Class for all 3 paragraphs*/
.menuHeadP
{
    margin: auto;
}
#headerP
{
    font-size: 250%;
}
#header2P
{
    font-family: HomemadeApple;
    font-size: 55%;
}
#header3P
{
    font-size: 125%;
}



.menuItem
{
    position: relative;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
    width: 100%;
    min-height: 5%;
    font-family: DIN;
}

 .dish
{
    color: black;
}

#dishTitle
{
    margin: 0px;
    margin-bottom: 1%;
    font-size: 300%;
}

#desc
{
    margin: 0px;
    font-family: DIN;
    font-size: 280%;
}

#FO
{
    color: olive;
    margin: 0px;
    font-size: 200%;
}


.subMenuHeadP
{
    margin: auto;
    max-width: 95%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    border-bottom: 2px solid black;
    font-size: 500%;
    font-family: AmaticSC;
}

#dishesDiv
{
    
}

#drinksDiv
{
    font-size: 200%;
    overflow: auto;
}

#warmDrinksDiv
{
    font-size: 200%;
    overflow: auto;
}

#dessertsDiv
{
    font-size: 200%;
    overflow: auto;
}

#nonDishTitle
{
    text-align: start;
    width: 70%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin: 0;
    margin-top: 15px;
    font-size: 150%;
    float: left;
    position: relative;
    top: 0px;
    left: 5%;
}