#popupHolderDiv
{
    text-align: center;
}


#popupOverlayDiv
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: -100%;
    margin-bottom: -100%;
    z-index: 1;
    opacity: 0.75;
    background-color: grey;
    text-align: center;
}

#popupDiv
{
    background-color: whitesmoke;
    width: 640px;
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    opacity: 1;
    margin: auto;
    z-index: 2;
    overflow: auto;
    padding: 2.5%;
    border-radius: 20px;
    box-shadow: 0 0 3pt 2pt black;
}

#areYouSureP
{
    position: relative;
    font-size: 300%;
}


#sureButtonContainer
{
    width: 570px;
}

#confirmButton
{
    width: 230px;
    float: left;
}

#declineButton
{
    width: 230px;
    float: right;
}


#waitingForSwishP
{
    font-size: 300%;
}
.loader
{
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #e4e8bd; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#closeButtonHolder {
    margin: 0;
  width: 25px;
  height: 25px;
  background-color: #b55555;
  border: 1px solid black;
    position: relative;
    left: 95%;
    border-radius: 5px;
}
.mdiv {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  Z-index: 1;
}
.md {
  height: 25px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  Z-index: 2;
}