#headerBestallning
{
    font-size: 6em;
}

#orderSummary
{
    margin: auto;
    height: auto;
    font-size: 300%;
}

.summaryElement
{
    margin: auto;
    width: 82%;
    border-bottom: 2px solid gray;
    height: 6%;
    margin-bottom: -4%;
}

.summaryElementName
{
    position: absolute;
    left: 10%;
}

.summaryElementPrice
{
    position: absolute;
    right: 10%;
}

#orderSumElement
{
    border-bottom: 3px solid black;
}

#orderSum
{
    font-weight: bold;
}

#orderPrice
{
    font-weight: bold;
}
