#headerBestallning
{
    font-size: 1100%;
}

#orderSummary
{
    margin: auto;
    height: auto;
    font-size: 300%;
}

.summaryElement
{
    margin: auto;
    width: 82%;
    height: auto;
    border-bottom: 2px solid gray;
    position: relative;
    overflow: auto;
    padding: 7px;
}

.summaryElementName
{
    float: left;
    margin: 0;
    margin-top: 1%
}

.summaryElementPrice
{
    float: right;
    margin: 0;
    margin-top: 1%;
    margin-right: 10px;
}

#orderSumElement
{
    border-bottom: 3px solid black;
}

#orderSum
{
    font-weight: bold;
}

#orderPrice
{
    font-weight: bold;
}
